---
import Title from "../components/Title.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
     <Title title="About Me" description="Read more."/>
      <div class="grid place-content-center h-screen">
        work in progress
      </div>

			
</Layout>