---
import Title from "../components/Title.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <Title title="Contact Me" description="Happy to help"/>
      <div class="flex items-center justify-center">
        <div class="w-full max-w-sm">
          <h2>Contact Astroship</h2>
          <p>Have something to say? We are here to help. Fill up the form or send email or call phone.</p>
          <ul>
            <li>1734 Sanfransico, CA 93063</li>
            <li>hello@astroshipstarter.com</li>
            <li>+1 (987) 4587 899</li>
          </ul>
        </div>
        <div class="grid place-content-center">
          Form in progress
         
        </div>
      </div>
      
		</Layout>