---
import '../styles/global.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />		
		<title>Astro Ship</title>
	</head>
	<body>
		<main class="w-full max-w-screen-lg mx-auto">
			<header class="flex justify-between items-center mt-5 px-5 lg:px-10">
				<h1 class="font-bold text-sm">Astro<span class="font-medium text-slate-400">ship</span></h1>
				<nav class="hidden lg:block">
					<ul class="flex items-center gap-4 text-xs text-slate-600 font-medium">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/work">Work</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>				
				<div class="items-center gap-5 hidden lg:flex">
					<a href="#" class="text-xs font-medium text-slate-600">Login</a>
					<a href="#" class="bg-slate-800 text-white px-4 py-2 text-xs font-medium rounded-sm">Sign up</a>					
				</div>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list lg:hidden" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
				</svg>
			</header>

			<div class="grid grid-cols-1 lg:grid-cols-2 py-20 px-5 place-content-center">
					<div class="py-24">
						<h1 class="text-5xl lg:text-6xl xl:textl-7xl font-bold lg:tracking-tight">Marketing website done with Astro</h1>
						<p class="text-gray-600 my-4">Astroship is a starter template for startups, marketing websites & landing pages. Built with Astro.build and TailwindCSS. You can quickly create any website with this starter.</p>
						<div class="flex gap-y-5 lg:gap-x-5 flex-col lg:flex-row">							
							<a href="#" class="text-gray-200 font-medium rounded-sm flex justify-center items-center h-11 w-full bg-slate-800">Download for Free</a>
							<a href="#" class="text-slate-800 font-medium rounded-sm flex justify-center items-center h-11 w-full border-2 border-slate-800">Github Repo</a>
						</div>
					</div>
					<div class="order-first lg:order-1">
						<img src="/hero.webp" alt="hero-image" class="w-70 mx-auto lg:w-full aspect-square object-contain">
					</div>
			</div>

			<div class="py-24 bg-slate-50 px-5">
				<h2 class="text-4xl lg:text-4xl xl:text-7xl font-bold lg:tracking-tight">Everything you need to start a website</h2>
				<p class="text-gray-600 my-4">Astro comes batteries included. It takes the best parts of state-of-the-art tools and adds its own innovations.</p>
				<div class="grid grid-cols-1 lg:grid-cols-3 gap-10 my-20">
					<div class="cards">
						<div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance text-white" viewBox="0 0 16 16">
								<path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
							</svg>
						</div>
						<div>
							<h3 class="font-semibold text-lg">Bring Your Own Framework</h3>
							<p class="text-slate-500 mt-2 leading-relaxed text-sm">Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.</p>
						</div>
					</div>
					<div class="cards">
						<div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance text-white" viewBox="0 0 16 16">
								<path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
							</svg>
						</div>
						<div>
							<h3 class="font-semibold text-lg">Bring Your Own Framework</h3>
							<p class="text-slate-500 mt-2 leading-relaxed text-sm">Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.</p>
						</div>
					</div>
					<div class="cards">
						<div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance text-white" viewBox="0 0 16 16">
								<path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
							</svg>
						</div>
						<div>
							<h3 class="font-semibold text-lg">Bring Your Own Framework</h3>
							<p class="text-slate-500 mt-2 leading-relaxed text-sm">Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.</p>
						</div>
					</div>
					<div class="cards"><div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance text-white" viewBox="0 0 16 16">
								<path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
							</svg>
						</div>
						<div>
							<h3 class="font-semibold text-lg">Bring Your Own Framework</h3>
							<p class="text-slate-500 mt-2 leading-relaxed text-sm">Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.</p>
						</div></div>
					<div class="cards"><div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance text-white" viewBox="0 0 16 16">
								<path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
							</svg>
						</div>
						<div>
							<h3 class="font-semibold text-lg">Bring Your Own Framework</h3>
							<p class="text-slate-500 mt-2 leading-relaxed text-sm">Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.</p>
						</div></div>
					<div class="cards"><div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance text-white" viewBox="0 0 16 16">
								<path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
							</svg>
						</div>
						<div>
							<h3 class="font-semibold text-lg">Bring Your Own Framework</h3>
							<p class="text-slate-500 mt-2 leading-relaxed text-sm">Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.</p>
						</div></div>
				</div>
			</div>
		</main>
	</body>
</html>
